@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    .mob_address_link_phone {
        font-size: 36px;
        line-height: 1.2;
    }

    .modal {
        width: 392px;
    }

}

@media screen and (min-width: 320px) and (max-width: 427px) {
    .mob_address_link_phone {
        font-size: 24px;
        line-height: 1.2;
    }

    .mob_social_icons_list {
        gap: 24px;
        color: #404BBF;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header_menu_list {
        display: flex;
        gap: 40px;
    }

    .menu_open_btn {
        display: none;
    }

    .current {
        position: relative;

    }

    .header_men_link.current {
        color: #404bbf;
    }

    .current::after {
        content: '';
        position: absolute;
        bottom: -24px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
    }

    .header_men_link {
        color: var(--Dark);
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        /* padding: 24px 0; */
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .header_men_link:focus,
    .header_men_link:hover {
        color: #404bbf;
    }

    .header_menu_list {
        font-style: normal;
    }

    .header_social_link {
        color: var(--Text);
        /* font-size: 16px; */
        /* line-height: 1.5;
        letter-spacing: 0.02em; */
        /* padding: 24px 0; */
        line-height: 1.16;
        letter-spacing: 0.04em;
        font-size: 12px;
        font-weight: 400;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header_social_link:hover,
    .header_social_link:focus {
        color: var(--Pressedstate);
    }

    .hero {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people_office.jpg);
        /* margin: 0 auto;
        max-width: 1440px;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
        background-position: center; */
    }
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people_office_mob.jpg);
    }

    .hero_title {
        max-width: 496px;
        color: var(--White);
        /* font-size: 56px; */
        /* font-weight: 700;
        /* line-height: 1.07; */
        letter-spacing: 1.12px;
        /* text-align: center;
        margin: 0 auto 48px; */
        margin-bottom: 36px;
    }

    .modal {
        width: 408px;
        padding: 72px 25px 24px 23px;
    }

    .infomation_list {
        gap: 72px 24px;
    }

    .infomation_list_item {
        width: calc((100% - 24px * 3) / 4);
    }

    .infomation_list_name {
        text-align: left;
    }

    .network {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
        align-items: center;
        justify-content: center;
    }

    .our_description {
        margin: 0 auto;
        /* padding: 32px 0;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center; */
    }

    .custom_ul {
        gap: 72px 24px;
        justify-content: center;

    }

    .custom_list {
        /* height: 88px; */
        width: calc((100% - 120px) / 6);

    }

    .custom_list {
        width: 168px;
        height: 88px;
    }

    .custom_a {
        /* color: #8e8f99;
        width: 100%;
        height: 100%;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
        width: 168px;
    }

    .logos_grap {
        /* margin-right: 120px; */

        align-items: flex-start;
    }

    .logos-social {
        /* margin-bottom: 16px;
        color: #FFFFFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em; */
        text-align: left;
    }

    .logos_div {
        width: 552px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;

    }

    .subscr {
        /* display: flex;
        flex-direction: column;
        margin-left: auto; */
        align-items: first baseline;
    }

    .subscr_form {
        /* display: flex; */
        gap: 24px;
        flex-direction: row;
    }

    .subscr_email_form {
        /* align-items: center;
        background: #2e2f42; */
        width: 264px;
        /* height: 40px;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        border: 1px solid #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
        /* color: #ffffff; */
    }


}

@media screen and (min-width: 1158px) {
    .container {
        /* width: 100%; */
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        /* margin: 0 auto; */

    }

    .header_social_list {
        display: flex;
        gap: 40px;
        flex-direction: row;
    }

    .header_social_link {
        color: var(--Text);
        font-size: 16px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        /* padding: 24px 0; */
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people_office.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people_office_mob.jpg);
    }

    .hero_title {
        /* max-width: 496px;
        color: var(--White); */
        font-size: 56px;
        /* font-weight: 700; */
        line-height: 1.07;
        /* letter-spacing: 1.12px;
        text-align: center;
        margin: 0 auto 48px; */
        max-width: 496px;
        margin-bottom: 48px;
    }

    .modal {
        width: 408px;
        padding: 72px 24px 24px;
    }

    .infomation {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .infomation_list {
        /* display: flex; */
        gap: 24px;
    }

    .infomation_list_item {
        width: calc((100% - 24px * 3) / 4);
    }

    .infomation_two_div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .infomation_list_name {
        /* color: #2e2f42; */
        font-size: 20px;
        font-weight: 500;

        line-height: 1.2;
        letter-spacing: 0.02em;
        /* margin-bottom: 8px; */
    }

    .infomation_list_text {
        /* font-size: 16px; */

        font-weight: 400;
        /* line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em; */
    }

    .doing_section {
        background-color: #FFF;
        padding-bottom: 120px;
        display: flex;
    }

    .doing_title {
        color: var(--Dark);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* letter-spacing: 0.72px; */
        text-transform: capitalize;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
    }

    .doing_list {
        display: flex;
        gap: 24px;
    }

    .doing_list_item {
        width: calc((100% - 48px) / 3);
    }

    .our {
        /* background-color: var(--Light); */
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .our_list {
        /* display: flex; */
        gap: 24px;
    }

    .our_list_item {
        /* background-color: #ffffff; */
        width: calc((100% - 72px) / 4);
        /* border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    */
    }

    .customer {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .custom_ul {
        flex-direction: row;
        justify-content: center;
        gap: 24px;

    }

    .custom_list {
        /* height: 88px; */
        width: calc((100% - 120px) / 6);

    }

    .custom_a {
        /* color: #8e8f99; */
        width: 100%;
        height: 100%;
        /* border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

    }

    .logos {
        /* background-color: #2e2f42;
        flex-shrink: 0; */
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .logos_div {
        /* display: flex;
        align-items: baseline; */
        min-width: 1158px;
        justify-content: center;
        gap: 0;
    }

    .logos_grap {
        margin-right: 120px;
    }

    .subscr {
        /* display: flex;
        flex-direction: column;
        margin-left: auto; */
        display: block;
        margin-left: 80px;
    }

    .subscr_text {
        /* color: #fff;
        margin-bottom: 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px; */
        display: inline-block;
    }

    .subscr_form {
        /* display: flex; */
        gap: 24px;
        justify-content: flex-end;
    }

    .subscr_email_form {
        /* align-items: center;
        background: #2e2f42; */
        width: 264px;
        /* height: 40px;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        border: 1px solid #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #ffffff; */
    }
}