@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    .modal {
        width: 392px;
    }

    .subscr_email_form {
        width: 398px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header_menu_list {
        display: flex;
        gap: 40px;
    }

    .menu_open_btn {
        display: none;
    }

    .current {
        position: relative;
    }

    .header_men_link.current {
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 100%;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .header-address-list {
        display: flex;
        /* gap: 40vpx; */
        gap: 12px;
    }

    .header_men_link {
        color: var(--Dark);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header_men_link:focus,
    .header_men_link:hover {
        color: #404bbf;
    }

    .adress_lnk {
        font-style: normal;
    }

    .header_social_link {
        color: var(--Text);
        /* font-size: 16px;
            font-style: normal; */
        font-size: 12px;
        font-weight: 400;
        /* line-height: 1.5;
            letter-spacing: 0.02em; */
        line-height: 1.16;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header_social_link:hover,
    .header_social_link:focus {
        color: var(--Pressedstate);
    }

    .hero {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people_office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people_office.jpg);
        }
    }

    .hero_title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .modal {
        width: 408px;
        padding: 72px 25px 24px 23px;
    }

    .infomation_list {
        gap: 72px 24px;
    }

    .infomation_list_item {
        width: calc((100% - 24px * 3) / 4);
    }

    .our_list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
        align-items: center;
        justify-content: center;
    }

    .our_list_item {
        /* width: calc((100% - 24px) / 2); */
    }

    .our_description {
        margin: 0 auto;
    }

    .custom_ul {
        gap: 72px 24px;
        justify-content: center;
    }

    .custom_list {
        width: 168px;
        height: 88px;
    }

    .custom_a {
        width: 168px;
    }

    .logo_link_text {
        max-width: 264px;
    }

    .logos_div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 582px;

        gap: 72px 24px;
    }

    .logos_grap {
        margin-right: 24px;
        align-items: start;
        margin-bottom: 0;
    }

    .logos_social_media {
        align-items: start;
        margin-bottom: 0;
    }

    .subscr_form {
        flex-direction: row;

    }

    .subscr_email_form {
        width: 264px;
    }

    .subscr {
        align-items: start;
    }

    .subscr_lable {
        margin-right: 24px;
    }


}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header_menu_list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .header_social_link {
        color: var(--Text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people_office.jpg);

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people_office.jpg);

        }
    }

    .hero_title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 48px;
    }

    .modal {
        width: 408px;
        padding: 72px 24px 24px;
    }

    .infomation {
        padding: 120px 0 120px;
    }

    .infomation_list {
        gap: 24px;
    }

    .infomation_list_item {
        width: calc((100% - 24px * 3) / 4);
    }

    .infomation_two_div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .infomation_list_name {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .infomation_list_text {
        font-weight: 400;
    }

    .doing_section {
        background-color: #FFF;
        padding-bottom: 120px;
        display: flex;
    }

    .doing_title {
        color: var(--Dark);
        font-size: 36px;
        font-weight: 00;
        line-height: 1.11;
        text-transform: capitalize;
        text-align: center;
        letter-spacing: 0.02em;
        margin: 0 auto 72px;
    }

    .doing_list {
        display: flex;
        gap: 24px;
    }

    .doing_list_item {
        width: calc((100% - 48px) / 3);
    }

    .our {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .our_list {
        gap: 24px;
    }

    .our_list_item {
        width: calc((100% - 72px) / 4);
    }

    .customer {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .custom_ul {
        gap: 24px;
        flex-direction: row;
        justify-content: center;
    }

    .custom_list {
        width: calc((100% - 120px) / 6);
    }

    .custom_a {
        height: 100%;
        width: 100%;
    }

    .logos {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .logo_link_text {
        max-width: 264px;
    }

    .logos_div {
        display: flex;
    }

    .logos_grap {
        margin-right: 120px;
    }

    .subscr {
        display: block;
        margin-left: 80px;
    }

    .subscr_form {
        justify-content: flex-end;
        gap: 24px;
    }

    .subscr_email_form {
        width: 264px;
    }

    .subscr_button {
        min-width: 165px;
    }
}